

h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 6px;
    position: relative;
}
h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
}

.nav-links a.active {
    color: #000;
    font-weight: bold;
    background-color: #fff;
    padding: 6px;
    border-radius: 4px;
}

aside nav a.active:not(:first-child) div {
    color: #000000;
    font-weight: bold;
    background-color: #fff;
    padding: 6px;
    border-radius: 4px;
}